<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ScheduleExactAlarm" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />

    <!-- Work profile and private space -->
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />

    <!-- Android 15+: Permission to access Private Space and other hidden profiles -->
    <uses-permission android:name="android.permission.ACCESS_HIDDEN_PROFILES" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Optional: For digital wellbeing usage stats -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- Wellbeing: Timer service + Overlay reminders -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Extension Security: Launcher defines the permissions -->
    <permission
        android:name="org.elnix.dragonlauncher.permission.READ_SETTINGS"
        android:protectionLevel="normal" />

    <permission
        android:name="org.elnix.dragonlauncher.permission.WRITE_SETTINGS"
        android:protectionLevel="normal" />

    <uses-permission android:name="org.elnix.dragonlauncher.permission.READ_SETTINGS" />

    <uses-permission android:name="org.elnix.dragonlauncher.permission.WRITE_SETTINGS" />

    <permission
        android:name="org.elnix.dragonlauncher.permission.ACCESS_FONTS"
        android:protectionLevel="normal" />

    <uses-permission android:name="org.elnix.dragonlauncher.permission.ACCESS_FONTS" />


    <queries>
        <!-- To allow Dragon Launcher to find the font extensions provider -->
        <provider android:authorities="org.elnix.dragonlauncher.fonts.provider" />
        <!-- To allow Dragon Launcher to find the font extensions by its package -->
        <package android:name="org.elnix.dragonlauncher.fonts" />
    </queries>

    <application
        android:name=".DragonLauncherApplication"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DragonLauncherTheme"
        tools:targetApi="33">

        <activity
            android:name=".activity.MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:theme="@style/DragonLauncherTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- Pinned Shortcuts: Receives pin shortcut requests from other apps -->
        <activity
            android:name=".activity.PinnedShortcutActivity"
            android:enableOnBackInvokedCallback="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />

        <activity
            android:name="org.elnix.dragonlauncher.ui.wellbeing.DigitalPauseActivity"
            android:enableOnBackInvokedCallback="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/DragonLauncherTheme" />

        <activity
            android:name="org.elnix.dragonlauncher.ui.wellbeing.TimeLimitExceededActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/DragonLauncherTheme" />


        <activity
            android:name="org.elnix.dragonlauncher.activity.PrivateSpaceUnlockActivity"
            android:exported="false"
            android:theme="@style/DragonLauncherTheme" />


        <service
            android:name="org.elnix.dragonlauncher.services.DragonNotificationListenerService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="org.elnix.dragonlauncher.ui.wellbeing.OverlayReminderService"
            android:exported="false" />

        <service
            android:name="org.elnix.dragonlauncher.ui.wellbeing.AppTimerService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />


        <service
            android:name=".services.SystemControlService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/system_control_accessibility" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />


        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.PackageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGES_SUSPENDED" />
                <action android:name="android.intent.action.PACKAGES_UNSUSPENDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
